.env
.env.*
*.key
*.pem
*.crt
*.pfx

*.log
logs/
*.tmp
*.bak
*.swp

.DS_Store
Thumbs.db

.vscode/
.idea/

gophish.db
*.sqlite
*.db

*.pcap
*.pcapng

output/
reports/
campaign_results/
loot/

setoolkit/reports/
setoolkit/src/logs/

suricata/log/
zeek/logs/
pihole/log/
darkstat/log/
pfblockerng/log/
